/* Eng Fonts  font-family: "Madimi One", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/* Geo Fonts  font-family: "ALKDots", sans-serif;*/
@import url("https://cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orangered;

}
nav{
    background-color:blueviolet;
    color: white;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    font-family: "Madimi One", sans-serif;
}
nav h1{
    border:2px solid #911d91;
    padding: 2px;
    cursor: pointer;
    transition: all 1s;
}
nav h1:hover{
    background-color: #911d91;
    color: cadetblue;
}

.gameContainer{ 
    background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    border:2px solid #911d91;
    padding: 5px;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 22px;
}

.gameInfo{
    padding: 10px 34px;
    margin-left: 35px;
    width: 400px;
    
    background-color: grey;
    font-family: 'Baloo Bhaina 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gameInfo h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.gameInfo .result{
    padding: 5px;
    border:1px solid #911d91 ;
    font-family: "ALKDots", sans-serif;
}
.gameInfo #reset{
    margin-top: 10px;
    padding: 10px 18px;
    background: #f3e7f9;    
    font-family: "ALKDots", sans-serif;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    transition: all 1s;
}

.gameInfo #reset:hover{
    background-color: #911d91;
    color: white;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}



.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}